.debate-suggestion-panel {
  margin-top: 1em;
  padding: 1em;
  background: var(--secondary);
  border: 1px solid var(--primary-low);
  border-radius: 8px;

  .question {
    font-weight: bold;
    margin-bottom: 0.75em;
  }

  .votes {
    display: flex;
    gap: 0.75em;

    button.btn {
      &.active {
        background-color: var(--tertiary);
        color: #fff;
      }

      &:disabled {
        opacity: 0.6;
        cursor: wait;
      }
    }
  }
}
