.debate-suggestion-vote {
  padding: 0.75rem 1rem;
  border: 1px solid var(--primary-low);
  border-radius: 6px;
  margin-bottom: 0.75rem;

  .question {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .user-vote {
    font-size: 0.9em;
    color: var(--success);
  }
}
