.debate-badge {
  display: inline-block;
  padding: 0.2em 0.6em;
  margin-left: 0.5em;
  border-radius: 12px;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;

  &--favor {
    background: #e6f4ea;
    color: #137333;
  }

  &--neutral {
    background: #f1f3f4;
    color: #5f6368;
  }

  &--against {
    background: #fce8e6;
    color: #c5221f;
  }
}

.debate-panel__counts {
  margin-top: 0.75em;
  font-size: 0.9em;

  div {
    margin-bottom: 0.25em;
  }
}
